/* CSS declarations go here */
body {
  background-color: #f5f2f0;
}

#search-bar {
  margin-top: 45px;
  top: 20px;
}

#fabEmployeeCount{
  position: relative;
  left:30px;
  top:28px;
}

.textRight {
  text-align: right;
}
h3.container {
  margin-top: 100px;
  margin-bottom: 20px;
}

.collection .collection-item-btn {
  background-color: #F5F2F0;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border: 1px dashed #888;
}

.collection .collection-item-btn:hover {
  background-color: #ECE9E7;
  cursor: pointer;
}